@model  LicenseSessionState
@{
    ViewBag.Title = "Home";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script>
    var x, y, n = 0, ny = 0, rotINT, rotYINT
    function rotateYDIV() {
        y = document.getElementById("rotate3D")
        clearInterval(rotYINT)
        rotYINT = setInterval("startYRotate()", 10)
    }
    function startRotate() {
        n = n + 1
        x.style.transform = "rotate(" + n + "deg)"
        x.style.webkitTransform = "rotate(" + n + "deg)"
        x.style.OTransform = "rotate(" + n + "deg)"
        x.style.MozTransform = "rotate(" + n + "deg)"
        if (n == 360) {
            clearInterval(rotINT)
            if (n == 360) { n = 0 }
        }
    }
    function startYRotate() {
        ny = ny + 1
        y.style.transform = "rotateY(" + ny + "deg)"
        y.style.webkitTransform = "rotateY(" + ny + "deg)"
        y.style.OTransform = "rotateY(" + ny + "deg)"
        y.style.MozTransform = "rotateY(" + ny + "deg)"
        if (ny == 360) {
            clearInterval(rotYINT)
            if (ny >= 360) { ny = 0 }
        }
    }
</script>

<link href="~/Content/Drag-and-drop-container.css" rel="stylesheet" />

<style>
    .span-font {
        font-size: 16px !important;
    }

    .div-spacing {
        padding-top: 20px !important;
    }

    label {
        font-weight: normal !important;
        font-family: Arial;
    }
</style>


<div class="container">

    @using (Html.BeginForm())
    {
        if (LicenseSessionState.Instance.ProductLicense == null)
        {
            <div class="row">
                No License assigned
            </div>
        }
        else
        {
            foreach (var productLicense in LicenseSessionState.Instance.ProductLicense)
            {
                <div class="row div-spacing" style="height:80px;">
                    <h3>
                        Available License Type:
                    </h3>
                    <div class="col-md-12" onmouseover="rotateYDIV()" id="rotate3D" style="transform: rotateY(360deg);"><h3>@productLicense.SubscriptionName</h3></div>
                </div>

                <div class="row" style="margin-top:20%">
                    <div class="animated_div"><label>Feature</label></div>
                    <div class="animated_div"><label>Version</label></div>
                    <div class="animated_div"><label>Info</label></div>
                </div>
                foreach (var product in productLicense.ProductList)
                {
                    for (int i = 0; i < product.Features.Count; i++)
                    {
                        <div class="row">
                            <div class="col-md-4">
                                <label>@product.Features[i].Name</label>
                            </div>
                            <div class="col-md-4">
                                <label>@product.Features[i].Version</label>
                            </div>
                            <div class="col-md-4">
                                <label>@product.Features[i].Description</label>
                            </div>
                        </div>
                    }
                }

                <hr />

            }

        }


    }
</div>
