@{
    ViewBag.Title = "HardwareContainer";
}
<h2>Assets Used by Team</h2>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-8">
                @{ Html.RenderPartial("TeamAssets"); }
            </div>
        </div>

    </div>
</div>
<div id='myModal' class='modal'>
</div>
@* script *@
<script>
    $(function () {
        $(".anchorDetail").click(function () {
            var id = $(this).attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/Hardware/EditHardware",
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                success: function (data) {
                    $('#myModal').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $(".addhardware").click(function () {

            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: "/Hardware/AddHardware",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#myModal').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });
</script>
