@{
    ViewBag.Title = "LicenseApproval";
}
<h3>LicenseApproval</h3>
<div class="row">
    <div class="col-md-12">
        <label class="col-md-3">Team: </label>
        @Html.DropDownList("TeamList", new SelectList(ViewBag.TeamList, "Id", "Name"), new { @id = "ddlTeamList", @class = "form-control col-md-9" })
        <div class="dvApprovalList">
        </div>
    </div>
</div>
@* Javascript *@
<script>
    $(function () {
        if (@ViewBag.SelectedTeamId != "") {
            var selectedTeam = @ViewBag.SelectedTeamId;
            $('#ddlTeamList').val(selectedTeam);
            LoadApprovalList(selectedTeam);
        }

        $('#ddlTeamList').on('change', function () {
            var selectedTeam = $(this).val();
            LoadApprovalList(selectedTeam);
        });

        function LoadApprovalList(teamId) {
            $.ajax({
                type: "GET",
                url: "/License/LicenseApprovalByTeam",
                data: { "teamId": teamId },
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".dvApprovalList").html(data);
                },
                error: function () {
                    alert("data can't be fetched");
                }
            });
        }
    });
</script>
