@using License.MetCalWeb.Models
@model TeamModel
<!DOCTYPE html>
<html>
<body>
    @if (Model == null || Model.AcceptedUsers.Count == 0)
    {
            <table class="table" style="border:ridge">

        <tr>
           <td>
               <div id="emptyTeamContainer" data-show-on-empty-team="true">
                   <h2>No other users are on your team</h2>
                   <h3>Invite others to start sharing data with your team</h3>
                   <form action="/Team/TeamContainer" method="post">
                       <input type="submit" name="button" class="button1" value="Invite team members" style="background-color:yellow">
                   </form>
               </div>

           </td>
        </tr>

    </table>
    }
    else
    {
    <table class="table" style="border:ridge">

        <tr>
            <td>
                Team Member1
            </td>
        </tr>
        <tr>
            <td>
                Team Member2
            </td>
        </tr>
        <tr>
            <td>
                Team Member3
            </td>
        </tr>

    </table>
    }
</body>
</html>
