
@{
    ViewBag.Title = "Home";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <div class="navbar-collapse collapse">
        <ul id="menu" class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Feature-1", "Index", "Home")</li>
            <li>@Html.ActionLink("Feature-2", "About", "Tab")</li>
        </ul>
    </div>
<h2> FLUKE Calibration</h2>
