@model List<License.Models.PurchaseOrder>

@{
    ViewBag.Title = "OrderStatus";
}
<h2>OrderStatus</h2>
<br />
<br />
@if (Model.Count == 0)
{
    <div class="row">
        <div class="col-md-12">
            No Pending Orders Exist
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th class="col-md-2">
                        Purcchase Order No
                    </th>
                    <th class="col-md-2">
                        Order Status
                    </th>
                    <th class="col-md-2">
                        Total
                    </th>
                    <th class="col-md-3">
                        Approved/Rejected By
                    </th>
                    <th class="col-md-3" >
                        Comment
                    </th>
                </tr>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td class="col-md-2">
                            @Html.ActionLink(Model[i].PurchaseOrderNo, "OrderDetail", "PurchaseOrder", new { id = Model[i].Id }, null)
                        </td>
                        <td class="col-md-2">
                            @if (String.IsNullOrEmpty(Model[i].ApprovedBy))
                            {
                                <label>Pending</label>
                            }
                            else if (Model[i].IsApproved)
                            {
                                <label>Approved</label>
                            }
                            else
                            {
                                <label>Rejected</label>
                            }
                        </td>
                        <td class="col-md-2">
                            <label>@Model[i].Total</label>
                        </td>
                        <td class="col-md-3">
                            @Model[i].ApprovedBy
                        </td>
                        <td class="col-md-3">
                            @Model[i].Comment
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}