

<div class="row">
    <h4>Invite Accept</h4>
    <div class="form-group">
        <label class="col-md-12 control-label">@ViewBag.Message. @Html.ActionLink("Login", "LogIn", "Account")</label>
        <br/>
        <label class="col-md-12 control-label">@ViewBag.ErrorMessage</label>
        <br/>
       
    </div>
</div>