@{
    Layout = null; 
}

<h2>Team List</h2>
<div class="modal-dialog">
    <div class="modal-content">
        <div id='myModalContent'>
            @using (Html.BeginForm("TeamList", "Account", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button"  class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Select team</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @Html.AntiForgeryToken()
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-4">Choose Team</label>
                                @Html.DropDownList("TeamList", new SelectList(LicenseSessionState.Instance.TeamList, "Id", "Name"), "-- Select Team --", new { @id = "ddlTeam", @class = "col-md-8 form-control" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn" data-dismis="model" value="Choose" />
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(function () {
        $('form').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                method: form.attr('method'),
                url: form.attr('action'),
                data: { 'teamId': $('#ddlTeam').val() },
                success: function (data) {
                    if (data.success) {
                        location.href = data.url;
                    }
                    else {
                        alert(data.message);
                        location.href = "@Url.Action("Login","Account")";
                    }
                }
            });
        });
    });
</script>