@model License.MetCalWeb.Models.UserToken

@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        $('form').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                method: form.attr("method"),
                data: form.serialize(),
                success: function (partialResult) {
                    if (partialResult.success == false) {
                        $('#error').text(partialResult.message);
                    }
                    else {
                        location.reload();
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
    });
</script>
<div class="modal-dialog " style="position: static!important">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button><h4 class="modal-title">User Token Generate</h4>
        </div>       
        @using (Html.BeginForm("CreateToken", "UserToken", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                <div class="col-md-12">
                    <label id="error" class="message-error"></label>
                </div>
                <div style="padding-top: 15px;padding-bottom: 10px">
                    <div class="col-md-4">
                        <span>User Email</span>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Email, new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <input type="submit" class="btn" data-dismis="model" value="Create" />
                </div>
            </div>
        }
    </div>
</div>