<h4>Invite Accept</h4>

<div class="row">
    <div class="form-group">
        <label class="col-md-2 control-label">@ViewBag.Message</label>
        @Html.ActionLink("Login","LogIn","Account")
    </div>
</div>