
@model List<License.MetCalWeb.Models.LicenseMapModel>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<link href="~/Content/Drag-and-drop-container.css" rel="stylesheet" />
<script type="text/javascript">
        
    function handleCardDrop(event, ui) 
    {

            var slotNumber = $(this).data('number') + "-pack";
            var cardNumber = ui.draggable.data('number');

            // If the card was dropped to the correct slot,
            // change the card colour, position it directly
            // on top of the slot, and prevent it being dragged
            // again

            //if (slotNumber != cardNumber) {
                ui.draggable.addClass('correct');
                ui.draggable.draggable('disable');
                $(this).droppable('disable');
                ui.draggable.position({ of: $(this), my: 'left top', at: 'left top' });
                ui.draggable.draggable('option', 'revert', false);
                correctCards++;
            //}

        }
        var correctCards = 0;
        $(init);

        function init()
        {

            // Hide the success message
            $('#successMessage').hide();
            $('#successMessage').css({
                left: '580px',
                top: '250px',
                width: 0,
                height: 0
            });

            // Reset the game
            correctCards = 0;
            $('#admin_license_type').html('');
            $('#selected_user_license').html('');

            var subscriptionCollection = @Html.Raw(ViewBag.SubscriptionCollection);
            var numbers=[];
            var  words =[];
            var arraylength = 0;
            //var available_license_count=0;

            for(var j=0 ; j < subscriptionCollection.length;j++)
            {
                var subscriptioncollection_type_count = subscriptionCollection[j].LicenseDetails.AvailableLicenseCount;
                arraylength += subscriptioncollection_type_count;
                var subscriptioncollection_type =subscriptionCollection[j].SubscriptionName;
                words.push(subscriptioncollection_type);
                for(var index = 0;index <subscriptioncollection_type_count;index++)
                {
                    numbers.push(subscriptioncollection_type);
                }
            }

            for (var i = 0; i < numbers.length; i++) {
                $('<div>' + numbers[i] + '</div>').data('number', numbers[i]).attr('id', 'card' + i).appendTo('#admin_license_type').draggable({
                    containment: '#content',
                    stack: '#admin_license_type div',
                    cursor: 'move',
                    revert: true
                });
            }

            // Create the card slots
            //var words = ['one-pack', 'two-pack', 'three-pack', 'four-pack', 'five-pack', 'six-pack', 'seven-pack', 'eight-pack', 'nine-pack', 'ten-pack'];
            for (var i = 1; i <= words.length; i++) {
                $('<div>' + words[i - 1] + '</div>').data('number', i).appendTo('#selected_user_license').droppable({
                    accept: '#admin_license_type div',
                    hoverClass: 'hovered',
                    drop: handleCardDrop
                });
            }

        }

</script>
<table class="col-md-50" style="border:1px  solid #333;">
    <tr>
        <th class="col-md-20"><h2>Selected User:</h2><h4>@ViewData["TeamMember"]</h4></th>
        <th class="col-md-30"><h2>Admin:</h2></th>
    </tr>
    <tr>
        <td colspan="2">
            <div id="content">
                <h3>License Pool</h3>
                <div id="admin_license_type"> </div>

                <div id="selected_user_license"> </div>

                <div id="successMessage">
                    <h2>You did it!</h2>
                    <button onclick="init()">Play Again</button>
                </div>
            </div>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>




















































@*<!DOCTYPE HTML>
    <html>
    <head>
        <style>
            #div1, #div2 {
                float: left;
                width: 450px;
                height: 75px;
                margin: 10px;
                padding: 0px;
                border: 3px solid black;
                background-color: burlywood;
            }

            #div2 {
                float: right;
                width: 200px;
                height: 150px;
                margin: 10px;
                padding: 0px;
                border: 3px solid black;
                background-color: cadetblue;
            }
        </style>
        <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
        }
        </script>
    </head>
    <body>
        <h2>Drag and Drop</h2>
        <p>Drag the item back and forth between the two  elements.</p>
        @foreach (var obj in Model)
        {
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
            @for (int i = 0; i < obj.LicenseDetails.AvailableLicenseCount; i++)
            {
            <img src="~/ProductImages/CartItem/B5.PNG" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31" />
            }
        </div>
            break;
        }
        <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

    </body>
    </html>*@
