@model License.MetCalWeb.Models.TeamModel
@{
    ViewBag.Title = "TeamContainer";
}
<div class="row">
    <div class="form-group">
        @if (Model.AdminUser != null)
            {
            <h2>
                Team Admin : @Html.ActionLink(Model.AdminUser.Name, "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
            </h2>
        }
        @if (LicenseSessionState.Instance.IsTeamAdmin && Model.AcceptedUsers.Count > 0)
        {
            <div class="float-right">
                <button class="btn btn-primary btn-lg btn-custom" data-toggle="modal" data-target="#myModal">Invite Team Member</button>
            </div>
        }
    </div>
    <div class="form-group">
        <div class="col-md-8">
            @{ Html.RenderPartial("TeamMembers"); }
        </div>
        <div class="col-md-4">
            @{ Html.RenderAction("Subscriptions"); }
        </div>
    </div>
</div>