
@{
    ViewBag.Title = "TeamContainer";
}
<div class="row">
    <h2>
        @Html.ActionLink(LicenseSessionState.Instance.User.Name + "....", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
    </h2>
    <div class="form-group">
        <div class="col-md-8">
            @{ Html.RenderAction("TeamMembers"); }
        </div>
        <div class="col-md-4">
            @{ Html.RenderAction("Subscriptions"); }
        </div>
    </div>
</div>