
<!DOCTYPE html>
<html>
<body>
    <table class="table" style="border:solid">

        <tr>
            <td>
                Team Member1
            </td>
        </tr>
        <tr>
            <td>
                Team Member2
            </td>
        </tr>
        <tr>
            <td>
                Team Member3
            </td>
        </tr>

    </table>
</body>
</html>
