@model License.MetCalWeb.Models.LoginViewModel

@{
    ViewBag.Title = "TeamContainer";
}

@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>



    </title>
</head>
<body>
    <h2>
        @Html.ActionLink(LicenseSessionState.Instance.User.Name + "....", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
    </h2>
    <table class="table">
        <tr >
            <th style="width:60%">
                Team Members
            </th>
            <th style="width:40%">
                Subscriptions
            </th>
        </tr>
        @foreach (var item in  Model)
        {
        <tr>
            <td>
                @Html.Partial("_TeamMembers",item)
            </td>

            <td>
                @Html.Partial("_Subscriptions")
                </td>
            </tr>
        }
        </table>
    </body>
</html>