@model IEnumerable<License.MetCalWeb.Models.Product>

@{
    ViewBag.Title = "CreateSubscription";
}
<link href="~/Content/ProductCatalogDetails.css" rel=" stylesheet" type="text/css" />


<h3>Create Subscription</h3>
<br />
@using (Html.BeginForm("Create", "Subscription", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-3"><label>Subscription Name</label></div>
                <div class="col-md-9"><input type="text" class="txt-sub form-control" name="subscriptionName" /></div>
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-4">Product Name</div>
				<div class="col-md-3">Price (Per Unit in USD)</div>
                <div class="col-md-2">Quantity</div>
                <div class="col-md-3">Total Price(USD)</div>
            </div>

        </div>
    </div>
    int index = -1;
    foreach (var product in Model)
    {
        index += 1;
        double price = product.Price * product.Quantity;
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4 proName"><input type="checkbox" class="checkbox form-control enableQty col-md-1" name="selectedIndexAndProductIdList" value="index:@index pId:@product.Id" /> &nbsp;<label class="col-md-3">@product.Name</label> </div>
					<div class="col-md-3 proCost"><label id="lblSelectedProductCost">@product.Price</label></div>
                    <div class="col-md-2 proQty"><input type="text" class="txt-qty form-control" name="qty" id="textQTYid+@product.Id" value="@product.Quantity" disabled="disabled" /></div>
                    <div class="col-md-3 proPrice"><label class="price_val" id="lblSelectedProductPrice">@price</label></div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <label class="col-md-4">Choose your maintainanse period</label>
            <select name="activeDays col-md-8 form-control ">
                <option value="0">12 month included</option>
                <option value="1">24 month</option>
                <option value="2">36 month</option>
            </select>
        </div>
        <div class="col-md-12" align="right">
            <label class="col-md-9 float-right">SubTotal(USD) </label>
            <label type="text" class="total col-md-3">0</label>
        </div>
        <div class="col-md-12" align="right">
            <input type="submit" name="status" value="Create Subscription" class="btn btn-default btn-custom btn-save" />
        </div>
    </div>

    
    <div class="row">
        <div class="col-md-12">
            <label id="lblError" style="display:none;">
                No products are selected
            </label>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        var total = 0;
        $('.btn-save').click(function () {
            var isPostEnabled = true;
            i = 0;
            $('input[type=checkbox]:checked').each(function () {
                i++;
            });
            if (i == 0) {
                $('#lblError').attr('style', 'display:inline;color:red;');
                isPostEnabled = isPostEnabled && false;
            }
            else {
                $('#lblError').attr('style', 'display:none;');
                isPostEnabled = isPostEnabled && true;
            }
            return isPostEnabled;
        });

        $('.enableQty').on('click', function () {
            var data = $(this).is(':checked');
            var qtyObj = $(this).parent().parent();
            var txtQty = $(qtyObj).find('.proQty').find('.txt-qty');
            var price = $(qtyObj).find('.proPrice').find('.price_val');
            var amount = $('.total').val();
            var selectedProdQTY = $(price).text();
            if (data == true) {
                $(txtQty).removeAttr('disabled');
            }
            else {
                $(txtQty).attr('disabled', 'disabled');
                $(price).text('0');
                $(txtQty).val('0');
                if (amount == "")
                    amount = 0;
                amount = parseInt(amount) - parseInt(selectedProdQTY);
                $('.total').val(amount);
            }
        });


        $('.txt-qty').on('change', function () {
            var price = 5;
            var parentObj = $(this).parent().parent();
            var qty = $(this).val();
            console.log($(parentObj));
			var lblObj = $(parentObj).find('.proPrice').find('.price_val');
			var costObj = $(parentObj).find('.proCost').find('#lblSelectedProductCost').text();
			var selectedProdQTY = qty * parseInt(costObj);
            console.log(lblObj);
            $(parentObj).find('.proPrice').find('#lblSelectedProductPrice').text(selectedProdQTY);

            var amount = $('.total').val();
            if (amount == "")
                amount = 0;
            amount = parseInt(amount) + selectedProdQTY;
            $('.total').val(amount);
        });

    });



</script>



