@model IEnumerable<License.MetCalWeb.Models.Feature>
@{
    Layout = null;
}
<h3>2. Choose Features</h3>
<div style="margin-top:20px;">
    @foreach (var feature in Model)
    {
        <div class="form-group col-md-12 " style="margin:5px">
            <div class="col-md-5 proName">
                <input type="checkbox" class="checkbox col-md-1 chkFeature" name="selectedFeatures" value="@feature.Id" />
                <label class="col-md-11">@feature.Name</label>
            </div>
            <div class="col-md-2 proCost">
                <label class="lblSelectedProductCost">@feature.Price</label>
            </div>
            <div class="col-md-2 ">
                <label class="divUsersCount"></label>

            </div>
            <div class="col-md-3 proPrice">
                <label class="price_val"></label>
            </div>
        </div>

    }
</div>
