@model IEnumerable<License.MetCalWeb.Models.Product>

@{
    ViewBag.Title = "CreateSubscription";
}
<link href="~/Content/ProductCatalogDetails.css" rel=" stylesheet" type="text/css" />
<script>
    $(document).ready(function () {
        $('.btn-save').click(function () {
            var isPostEnabled = true;
            i = 0;
            $('input[type=checkbox]:checked').each(function () {
                i++;
            });
            if (i == 0) {
                $('#lblError').attr('style', 'display:inline;color:red;');
                isPostEnabled = isPostEnabled && false;
            }
            else {
                $('#lblError').attr('style', 'display:none;');
                isPostEnabled = isPostEnabled && true;
            }
            return isPostEnabled;
        });
    });
      //function AssignButtonClicked() {
      // var x= $('.txt-qty').data();
      //  alert(x);
      //  return false;
    }
</script>

<h3>Create Subscription</h3>
<br />
<br />
@if (LicenseSessionState.Instance.IsAdmin)
{
    using (Html.BeginForm("CreateSubscription", "Product", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4">Subscription Name</div>
                    <div class="col-md-4"><input type="text" class="txt-sub" name="subscriptionName" /></div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4">Product Name</div>
                    <div class="col-md-4">Quantity</div>
                    <div class="col-md-4">Price(USD)</div>
                </div>

            </div>
        </div>

        int index = -1;

        foreach (var product in Model)
        {
            index += 1;
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-4"><input type="checkbox" name="selectedIndexAndProductIdList" value="index:@index pId:@product.Id" /> &nbsp; @product.Name</div>
                        @*onchange="AssignButtonClicked();"*@
                        <div class="col-md-4"><input type="text" class="txt-qty" name="qty" id="textQTYid+@product.Id" value="@product.Quantity" /></div>
                        <div class="col-md-4"><label id="lblSelectedProductPrice">$@product.Price</label></div>
                    </div>
                </div>
            </div>
        }
        <div id="row2" class="col-md-12">
            Choose your maintainanse period
        </div>
        <div id="row3" class="col-md-12">
            <select name="activeDays">
                <option value="0">12 month included</option>
                <option value="1">24 month</option>
                <option value="2">36 month</option>
            </select>
        </div>
        <div id="row4" class="col-md-12" align="right">
            <input type="submit" name="status" value="Create Subscription" class="btn btn-default btn-custom btn-save" />
        </div>
        <div id="row5" class="col-md-12" align="right">
            SubTotal(USD)<br />
            $500
        </div>
        <div class="row">
            <div class="col-md-12">
                <label id="lblError" style="display:none;">
                    No products are selected
                </label>
            </div>
        </div>
    }
}


