
/* Header/footer boxes */
.wideBox {
    clear: both;
    text-align: center;
    margin: 70px;
    padding: 10px;
    background: #ebedf2;
    border: 1px solid #333;
}

    .wideBox h1 {
        font-weight: bold;
        margin: 20px;
        color: #666;
        font-size: 1.5em;
    }

/*Slots for final card positions*/

#selected_user_license {
    /*margin: -230px 10px 10px 10px;*/
    margin:20px auto;
    background: #ddf;
    /*overflow-y: auto;*/
}

/*The initial pile of unsorted cards*/

#admin_license_type {
    /*margin: -10px 10px 10px 120px;*/
    margin:20px auto 10px 50px;
    background: #ffd;
}


/* The initial pile of unsorted cards */

hr {
    margin: 50px auto;
    border: 1px solid #f00;
}

#selected_user_license {
    width: 300px;
    height: 220px;
    /*overflow-y: auto;*/
    padding: 20px;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    position: sticky;
}

#admin_license_type {
    width: 600px;
    height: 220px;
    overflow-y: auto;
    padding: 20px;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

    /* Individual cards and slots */

    #admin_license_type div {
        float: left;
        width: 58px;
        height: 78px;
        padding: 0px;
        padding-top: 40px;
        padding-bottom: 0px;
        border: 2px solid #333;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin: 0px 0 0 10px;
        background: #fff;
    }

#selected_user_license div {
    float: left;
    width: 58px;
    height: 78px;
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 0px;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: -60px 0 20px 10px;
    background: #fff;
}

    #selected_user_license div:first-child, #admin_license_type div:first-child {
        margin-left: 0;
    }

    #selected_user_license div.hovered {
        background: #aaa;
    }

#selected_user_license div {
    border-style: dashed;
}

#admin_license_type div {
    background: #666;
    color: #fff;
    font-size: 15px;
    text-shadow: 0 0 3px #000;
}

    #admin_license_type div.ui-draggable-dragging {
        -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
        -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
        box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    }

/* Individually coloured cards */

#card1.correct {
    background: red;
}

#card2.correct {
    background: brown;
}

#card3.correct {
    background: orange;
}

#card4.correct {
    background: yellow;
}

#card5.correct {
    background: green;
}

#card6.correct {
    background: cyan;
}

#card7.correct {
    background: blue;
}

#card8.correct {
    background: indigo;
}

#card9.correct {
    background: purple;
}

#card10.correct {
    background: violet;
}


/* "You did it!" message */
#successMessage {
    position: absolute;
    left: 580px;
    top: 250px;
    width: 0;
    height: 0;
    z-index: 100;
    background: #dfd;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    padding: 20px;
}
#rotate3D {
    width: 200px;
    height: 200px;
    color: white;
    position: relative;
    font-weight: bold;
    font-size: 15px;
    vertical-align:central;
    float: left;
    border-radius: 20px;
    border: 0px solid #000000;
    background:#FFC20E;
    margin: 10px;
    text-align:center;
}

.animated_div{
 height:40px;
 background:#FFC20E;
 color:black;
 position:center;
 font-weight:bold;
 font-size:15px;
 padding:10px;
margin:5px;
-webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
-webkit-border-radius:15px;
-o-transition-property:width,height,-o-transform,background,font-size,opacity;
-o-transition-duration:1s,1s,1s,1s,1s,1s;
-moz-transition-property:width,height,-o-transform,background,font-size,opacity;
-moz-transition-duration:1s,1s,1s,1s,1s,1s;
transition-property:width,height,transform,background,font-size,opacity;
transition-duration:1s,1s,1s,1s,1s,1s;
border-radius:5px;
}
.animated_div:hover
{
opacity:1;
background:#FFC20E;
height:70px;
font-size:25px;
color:black;
}