@model License.Models.TeamDetails

@{
    ViewBag.Title = "TeamContainer";
}
<style>
    tr {
        border: none !important;
    }

    .dropbtn {
        background-color: #FFFFFF;
        color: white;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #FFFFFF;
    }

    #photos img {
        width: 33px;
        height: 33px;
        transition: width 500ms, height 500ms, transform 500ms;
        -moz-transition: width 500ms, height 500ms, -moz-transform 500ms;
        -webkit-transition: width 500ms, height 500ms, -webkit-transform 500ms;
        -o-transition: width 500ms, height 500ms,-o-transform 500ms;
    }

        #photos img:hover {
            width: 100%;
            height: 100%;
        }
</style>
<div class="row form-group">
    <div class="col-md-12 ">
        <div class="row">
            <h2>Team Details</h2>
            <br />
                @if (LicenseSessionState.Instance.TeamList != null && LicenseSessionState.Instance.TeamList.Count > 0)
                {
                    <label class="col-md-2" style="margin-top: 8px;">Chosen Team Context :</label> @Html.DropDownList("TeamList", new SelectList(LicenseSessionState.Instance.TeamList, "Id", "Name"), "Select Team", new { @id = "ddlTeamList", @class = "form-control" })
                }
                else
                {
                    <label class="col-md-12">You are not assigned to any Team</label>
                }
        </div>
        <br />
        <div class="dvTeamMember">
        </div>
    </div>
</div>
<div class="modal" id="myModal">
</div>

@* Javascript *@
<script>
    $(function () {

        $("#ddlTeamList").val(@ViewBag.SelectedTeamId);

        if (@ViewBag.SelectedTeamId != "")
        {
            LoaadTeam(@ViewBag.SelectedTeamId);
        }
        $("body").on("click", ".btnInvite", function () {
            var selectedValue = $('#ddlTeamList').val();
            if (selectedValue == "")
                return;
            $.ajax({
                type: "GET",
                url: "/TeamManagement/Invite",
                data: { "teamId": selectedValue },
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#myModal').html(data);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $('#ddlTeamList').on('change', function () {
            var selectedValue = $('#ddlTeamList').val();
            if (selectedValue == "")
                return;
            LoaadTeam(selectedValue);
        });

        function LoaadTeam(selectedValue) {
            $.ajax({
                type: "GET",
                url: "/TeamManagement/TeamMembers",
                data: { "id": selectedValue },
                contentType: "application/json",
                success: function (data) {
                    $('.dvTeamMember').html(data);
                },
                error: function () {
                    alert("data couldn't be fetched");
                }
            });
        }
    });
</script>