
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Renew</title>
</head>
<body>
    <div> 
        Renew Details
    </div>
</body>
</html>
