
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success </title>
</head>
<body>
    <div calss="col-md-8"> 
       <div calss="col-md-4" style="color:blue;">Payment Success !!</div>
        <div calss="col-md-4">
            <img src="~/Resources/Success2.gif" /> </div>
    </div>
</body>
</html>





