@model IEnumerable<License.MetCalWeb.Models.Product>

@{
    ViewBag.Title = "Dashboard";
}
<div>
    <div class="col-md-8">
        <h1 class="login-header-new">Fluke Connect Store</h1>
    </div>
    <div class="col-md-4">
        <table>
            <tr>
                <td>
                    <img src="~/Resources/Cart-Menu.png" />
                </td>
                <td><h1 class="login-header-new">Cart(1)</h1></td>
            </tr>
        </table>
    </div>

</div>

@if (Model != null)
{
    <div class="col-md-8">
        @foreach (var item in Model)
        {
            <table class="table-hover" style="border:ridge;align-content:center">

                <tr>
                    <td>
                        <p class="float-left">
                            <img src="@item.ImagePath" />
                        </p>

                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <em>Produt Name:</em>
                            @item.ProductName
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <em>Produt Id:</em>
                            @item.ProductID
                        </p>
                    </td>
                </tr>
                
                <tr>
                    <td class="danger">
                        <p class="button">
                            <b>
                                <input name="Add" class="btn btn-success" type="submit" value="Add To Cart" />
                            </b>
                        </p>
                    </td>
                </tr>

            </table>
        }
    </div>
    <div class="col-md-4">

        <h3>Cart Item List</h3>

        <table class="table-hover" style="border:ridge">
            <tr>
                <th>S.No</th>
                <th>P.ID</th>
                <th>P.Name</th>
                <th>P.Prize</th>
                <th></th>
               
            </tr>
            <tr></tr>
            <tr>
                <td>01</td>
                <td>10</td>
                <td>calibrator</td>
                <td>499$</td>
                <td><button class="btn btn-primary btn-lg btn-custom btn-warning" data-toggle="modal" data-target="#myModal">Remove</button></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    Total(Including all Tax)
                </td>
                <td colspan="2">
                    <p>
                        502$
                    </p>

                </td>
            </tr>
            <tr class="table table-hover">
                <td colspan="5"><button class="btn btn-primary btn-lg btn-custom btn-success float-right" data-toggle="modal" data-target="#myModal">Purchase</button></td>
            </tr>
        </table>
    </div>
}